

body {font-family: Arial, Helvetica, sans-serif;}

input[type=username], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}

input[type=username]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #F0F7FA;
    outline: none;
}

.list-group {
  width: 80%;
}

.card {
  margin-top: 50px;
  height: 110%;
}
.form-signin {
  margin-top: 120px;
  margin-right: 50px;
  margin-left: 60px;
}


.nav-item {
  display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: #F0F0F0;
    padding: 20px;
    max-width: 50%;
}

.container2 {
  padding-top: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .signinbtn {
  float: left;
  width: 50%;
}

.signupbtn {
  width: 100%;
  padding: 14px 20px;
  background-color: #696969;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.minusbtn {
  width:
}
