

body {font-family: arial, sans-serif;}


input[type=username], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}
#quantField {
  width: 50%;
  font-size: 16px;
  color: black;
}
#nameField {
  margin-left: -150px ;
  font-size: 16px;
}
#shopListValue {
  width: 60%;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
#shopListAdd {
  font-size: 18px;
  color: black;
  width: 60%;
}
#shopQuantAdd {
  font-size: 18px;
  width: 30%;
}
#shopListQuant {
  font-size: 18px;
  width: 30%;
  color: black;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #4d4d4d;
    opacity: 1 !important;
}

/*input[type=text2] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}*/

input[type=username]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #F0F7FA;
    outline: none;
    width: 100%;
}

#title {
  text-align: center;
  color: #black;
}

#warning {
  text-align: center;
  color:
}

#center {
  text-align: center;
}

h1 {
  padding-bottom: 5px;
}

.table-info {
  background-color: rgba(60, 179, 113, .5);
}

.list-group {
  width: 80%;
}

.card {
  margin-top: 50px;
  height: 110%;
}
.form-signin {
  margin-top: 120px;
  margin-right: 50px;
  margin-left: 60px;
}


.nav-item {
  display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: #F0F0F0;
    padding: 20px;
}

.container2 {
  padding-top: 5px;
}

.container4 {
  border-radius: 5px;
  background-color: #FFFFF0;
  padding: 35px;
  padding-bottom: 85px;
}

.signUpClass {
  text-align: center;
  float: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .signinbtn {
  float: left;
  width: 50%;
}

.googlebtn {
   padding-top: 16px;
   background-color: #dd4b39;
   width: 38%;
}

.signupbtn {
  width: 100%;
  padding: 14px 20px;
  background-color: grey;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding-top: 15px;
}

.ingredientList {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.minusbtn {
  padding-top: 0px;
  font-size: 30px;
  font-weight: bolder;
  width: 5%;
  padding-right: 30px;
  margin-left: 30px;
  background-color: grey;
  height: 35px;
  text-align: center;

}

.btnsmall {
  width: 55%;
  height:20%;
  padding-top: 7px;
  background-color: grey;
}

.btnsmallgreen {
  width: 60%;
  height:20%;
  padding-top: 7px;
}

.btnsmall2 {
  width: 60px;
  background-color: grey;
}
